:root{
  --display: #35193d;
  --btnBorder: #5e2d6c;
  --calcBody: #5d306a;
}

body{
  background: rgba(203,96,179,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 14%, rgba(219,54,164,1) 50%, rgba(219,54,164,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(203,96,179,1)), color-stop(14%, rgba(193,70,161,1)), color-stop(50%, rgba(219,54,164,1)), color-stop(100%, rgba(219,54,164,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 14%, rgba(219,54,164,1) 50%, rgba(219,54,164,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 14%, rgba(219,54,164,1) 50%, rgba(219,54,164,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 14%, rgba(219,54,164,1) 50%, rgba(219,54,164,1) 100%);
background: radial-gradient(ellipse at center, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 14%, rgba(219,54,164,1) 50%, rgba(219,54,164,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4', GradientType=1 );}
#calc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid orange 2px; */
  width: fit-content;
  margin: 0 auto;
  padding: 5px;
  background: var(--calcBody);
  border-radius: 5px;
  margin-top:100px;
}
.btn {
  height: 50px;
  width: 50px;
  background: #AB72CB;
  color:#fff;
  border: 1px solid var(--btnBorder);
  font-weight: bold;
  font-size: 30px;
  padding:5px;
}

.btn:hover {
  background: #8C5BA7;
  
}
.btn-func:hover{
  background: #633270;
}
.btn-func {
  background-color: #7A3E8A;
}
#input, #output{
  font-size:35px;
  width: 350px;
  text-align: right;
  background: var(--display);
  color:#fff;
  border:1px solid var(--btnBorder);
  border-bottom:none;
  padding-right:5px;
}
#calc-display>input{
border-bottom: none;
font-size:25px;
/* height:100px; */
width:193px;
padding-top: 30px;
}
#output{
border-top:none;
width:193px;
}
.grid-container{
  margin-top:0;
  display:grid;
  background:red;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px;
  justify-content: space-between;
}
#zero{
  grid-column: 1 / span 2;
  width:auto;
}

.drop {
  animation: drop 1.2s forwards;
}
@keyframes drop {
  0% {
    transform-origin: center;
    opacity: 1;
  }
  20% {
    transform: 
      translate3d(0, 20px, 0)
      rotate3d(0, 0, 1, -10deg);
    opacity: 1;
  }
  40%, 45% {
    transform: 
      translate3d(0, -120px, 0)
      rotate3d(0, 0, 1, 10deg);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: 
      translate3d(0, 2000px, 0)
      rotate3d(0, 0, 1, 10deg);
  }
}